@use "@material/button/styles";
@use "@material/layout-grid/mdc-layout-grid";

@use "@material/drawer/mdc-drawer";
// @import "@material/list/mdc-list";

// @include mdc-drawer.core-styles;
// @include mdc-drawer.dismissible-core-styles;
// @include mdc-drawer.modal-core-styles;
// @include mdc-list.core-styles;

.shrine-logo-drawer {
  display: block;
  width: 48px;
  padding: 40px 0 0;
  margin: 0 auto;
  fill: currentColor;
}

.shrine-title {
  text-align: center;
  margin: 5px auto;
}

// @include drawer.core-styles;
// @include drawer.dismissible-core-styles;
// @include drawer.modal-core-styles;
// @include list.core-styles;

.mdc-brown {
  --mdc-theme-primary: #795548;
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-dark);
}

.mdc-red {
  --mdc-theme-primary: #e53935;
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-dark);
}

.mdc-layout-grid__cell {
  background: #eeeeee;
}
